body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(132, 210, 255);
}

header {
    background:rgb(206, 206, 206);
    text-align:end;
    padding: 30px 10px;
}

h1 {
    margin: 0;
    text-align: unset;
    background-color: rgb(35, 106, 168);
}

h3 {
    margin: 0;
    text-align: unset;
    background-color: rgb(35, 106, 168);
}

servicos {
    padding: 20px;
    text-align: center;

}

servicos h2 {
    margin-bottom: 20px;
    color:#444;
}

card {
    background: white;
    border: 1px;
    border-radius: 8px;
    padding: 15px;
    margin: 15 px auto;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
    

